
*{
    margin: 0px;
    padding: 0px;
   

}
  html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
background: linear-gradient(145deg, #a78bb9d1, #67a9d6);
      
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
  position: sticky; 
  top: 0;
  left: 0;
  padding: 0px;
  color:white ;
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 2px 10px rgba(0,0,0,0.5) ;
  opacity: 95%;

  
}

.ham{
  display: none;
}
.top-main{
  position: absolute; 
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content:end;
  align-items: end;
}



.top{
  position:fixed;
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 2px 10px rgba(0,0,0,0.5) ;
  opacity: 95%;
  width: auto;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;  
}
.top > a{
  color: white;
  cursor: pointer;
}
.nav-right >ul>li>a{
    list-style-type: none;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
    margin-right: 50px;
    color: white;
    text-decoration: none;
}
.nav-left {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
}
.nav-right >ul>li>a:hover{
color: #953df4;
text-shadow: 5px 5px 30px  #953df4;
transition: color .5s ;

transform: scale(1.05); 
}
.nav-right li {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 8px;
  vertical-align: middle;
 }
.nav-left>h1>span{
    color:  #953df4;
}
.nav-left>h1{
  font-size: 25px;
    
}


/* About */

#about{
height: 90vh;
display: grid;
grid-template-columns: 1fr 1fr;



}

.about-left {
  color: #1a1a3c; 
  display: grid;
  grid-template-rows: 2fr 0fr ;
  align-items:center ;
  margin-left: 100px;
  
}
.about-left>h2{
  color: #1a1a3c; 
    line-height: 2.2rem;
    width: 700px;

}
.about-left span{
color: white;
font-size: 35px;
}

.about-right {  
  color:  #1a1a3c;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.about-right > img {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  animation: float 3s ease-in-out infinite; 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px); 
  }
  100% {
    transform: translateY(0px); 
  }
}

.about-right img:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 1px 5px 15px  #953df4;
  border: 10px solid   #953df4;

}



.about-icons{
  margin-top:-300px



}
.about-icons> i{
  color:#1a1a3c;
     text-decoration: none;

 
}
.about-icons i{
  text-decoration: none;
    color: #1a1a3c;
    font-size: 28px;
     padding-right: 25px;
    }
.insta:hover>i{
  color:  #E1306C;
  font-weight: bold;

}
.fb:hover>i{
    color:  #1877F2;  

}
.git:hover i,a{
  color: black;
  text-decoration: none;
}
.linked:hover>i{
   color: blue;
}
#resume{
  border: #b169ff;
  width: 200px;
  height: 40px;
  margin-top: 25px;
  background-color: #0ea5e9;
  border-radius: 5px;
  display: flex;
  font-size: large;
  text-align: center;
  align-items: center;
  color: #1a1a3c;
  text-decoration: none;
  
}
#resume{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#resume:hover{
   box-shadow: 1px 2px 30px#0ea5e9;
   cursor: pointer;
   transition: .5s;
   transform: scale(1.05); 
}


/* Skills */

#skills{
height: 90vh;
color: #1a1a3c;
}
.skills-head{
  padding-top:5%;
}
.skills-head1{
  padding-top:5%;
}
.skills-head> h1{
  color: #1a1a3c;
}
.skills-head1> h1{
  color: #1a1a3c;
}
.skills-head> h3,h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-head1> h3,h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-head> h3{
  color:white;
  font-size: 25px;
  margin-bottom: 15px;
}
.skills-head1> h3{
 color:#b169ff;
  margin-bottom: 15px;
}

.skills-1{
display: flex;
align-items: center;
justify-content: center;
gap: 50px;
margin-left: 50px;



}



.css, .react  {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease-out;
 
}


.css.show, .react.show {
  opacity: 1;
  transform: translateY(0);

}

.css{
  background-color: #dbe4ea;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  padding: 25px;
  backdrop-filter: blur(8px);
}

.css>img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 120px ;
}
.css>p{
  width: 350px;
   line-height: 1.5rem;
 
}
.react{
  background-color: #dbe4ea;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(8px);
}

.react>img{
  width: auto;
  height:85px;
  border-radius: 50%;
  margin-left: 120px ;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
}
.react>p{
  width: 350px;
   line-height: 1.5rem;
 
}
#edu{
height: 100vh;

}
.edu-card{
 display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2fr 2fr;
animation: float 3s ease-in-out infinite; 
}

 .edu-left>h1{
  margin-top: 25px;
  color: #4c1d95;
  
 }
 .edu-left>h3{
  margin-top: 10%;
  margin-bottom: 5%;
 }
 .exp-1>h5{
 color:#4b5563;
 }
 .exp-1>h4{
 color: #1f2937;
 }
 .exp-1>h3{
  color:#4c1d95;
 }

 .edu-left{

  width: 450px;
  margin-left: 25%;
  margin-top: 45px;
  background-color: #e3e0f9;;
  border-radius: 16px;
  padding: 1.5rem 2rem;
  color: #ECEFF1; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  gap: 20px;
  padding: 20px;
 }
.edu-left>h1{
  margin-bottom: 25px;
   color: #4c1d95;
}
 .edu-card {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease-out;
 
}
.exp-1{
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 2rem;
  margin-left: 35px;
 
}

.edu-card.show {
  opacity: 1;
  transform: translateY(0);

}


.edu-left {
  animation: slideInEdu 0.8s ease-out forwards;
}

 .edu-left:hover{
  box-shadow: 1px 5px 30px rgb(30, 29, 29); 
  transition: 0.5s;
  cursor: pointer;
 }
  .edu-right:hover{
  
  box-shadow: 1px 5px 30px rgb(30, 29, 29); 
  transition: 0.5s;
  cursor: pointer;
 }
  .edu-right{
 
  width: 450px;
  margin-left: 5%;
  margin-top: 35px;
 background-color: #e3e0f9;
  border-radius: 16px;
  padding: 1.5rem 2rem;
  color: #ECEFF1; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  gap: 20px;
  padding: 20px;
 }
 .edu-right>h1{
  margin-bottom: 25px;
   color: #4c1d95;
}
.edu-right>h1{
  margin-top: 25px;
 }

 .edu-right>h1{
  margin-top: 25px;
 }



#contact {
margin:0px;
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
}

form{
  width: 200px;
}
form>h1{
  margin-left:-50px;
  color:#1a1a3c;
}
.sub {
 border: 1px solid transparent;
width: 45%;
padding: 50px;
box-shadow: 1px 1px 20px;
background-color: #e3e0f9;
color: black;
border-radius: 5%;

}
 
 
input {

  width: 650px;;
  padding: 12px 16px;
  margin: 10px 0;
  font-size: 1rem;
  border: 2px solid gray;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color:  #1a1a3c;

}
form>h3{
  color:  #953df4;
  width: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
}

input::placeholder {
  color: gray;
  font-style: italic;
  

}
.resume{

  width: 150px;
  height: 30px;
  margin-top: 25px;
  background-color: #0ea5e9;
  color: white;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 20px;
  width: 300px;
  margin-left: 200px;
}

.resume:hover{
   box-shadow: 1px 2px 20px #512888;
   cursor: pointer;
   transition: .5s;
   transform: scale(1.05); 
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 2px 10px rgba(0,0,0,0.5) ;
  opacity: 95%;
  height: 10vh;
  color:  white;
}




@media (max-width: 600px) {

  /* Navbar */
  nav {
      display: block;
      width: auto;
      height: 10vh;
      
  }
  .ham{
  display: block;
  align-items: left;
  justify-content: left;
  padding: 10px;
  border-radius: 10px;
  
}

.nav-left{
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-right {
  background-color: black;
  opacity: 95%;
  width: 300px;
  border-radius: 20px;
  display: none;
  align-items: center;
  
}


.nav-right> P{
  width: 100px;
}

 .skills-1 {
    width: auto;
    flex-direction: column;
    gap: 40px;
    margin-left: 0;
  }
  .nav-right ul {
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items:start;
  }

  .nav-right >ul>li>a{
    color:  #1a1a3c;
  }
  /* About Section */
  #about {

    height: auto;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center;

  }

  .about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;
  }

  .about-left  span{
      font-size: 20px;
  }

  .about-left h2 {
    width: auto;
  }

  .about-icons {
    margin-top: 20px;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

  }

    .about-icons> a>i {
    margin-top: 20px;
    font-size: 1.2rem;
  }


  /* Skills Section */
  #skills {
    height: auto;
    padding-bottom: 50px;
  }

  .skills-grid {
    padding-top: 20px;
  }

  .skills-1 {
    flex-direction: column;
    gap: 40px;
    margin-left: 0;
  }

  /* Education */
  #edu {
    height: auto;
    padding-bottom: 40px;
  }

  .edu-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .edu-left, .edu-right {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /* Contact */

  .sub {
    width: 90%;
    padding: 20px;
  }

  form {
    width: 100%;
  }
  form>h3{
    width:70%;
    display: block;
  }
  input {
    width: 75%;
  }

  .resume {
    width: 75%;
    margin-left: 0;
  }
    .about-left h2 {
    font-size: 1rem;
    line-height: 1.7rem;
  }

}


@media (min-width: 250px) {

  nav h1 {
    font-size: 20px;
  }
  .nav-right> h3{
  width: auto;

}
  .nav-right a {
    font-size: 16px;
  }


  .top-main{
  position: absolute; 
  right: 0px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content:end;
  align-items: end;
}
  #skills {
     width: auto;
    height: auto;
    padding-bottom: 50px;
  }

  .skills-grid {
    width: auto;
    padding-top: 20px;
  }

 
}
