
*{
    margin: 0px;
    padding: 0px;
}
  html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
  position: sticky; 
  top: 0;
  left: 0;
  padding: 0px;
  color:white ;
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 2px 10px rgba(0,0,0,0.5) ;
  opacity: 95%;

  
}

.ham{
  display: none;
}
.top-main{
  position: absolute; 
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content:end;
  align-items: end;
}



.top{
  position:fixed;
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 2px 10px rgba(0,0,0,0.5) ;
  opacity: 95%;
  width: auto;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;  
}
.top > a{
  color: white;
  cursor: pointer;
}
.nav-right >ul>li>a{
    list-style-type: none;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
    margin-right: 50px;
    color: white;
    text-decoration: none;
}
.nav-left {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
}
.nav-right >ul>li>a:hover{
color:#00C4CC;
text-shadow: 5px 5px 30px #00C4CC;
transition: color .5s ;

transform: scale(1.05); 
}
.nav-right li {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 8px;
  vertical-align: middle;
 }
.nav-left>h1>span{
    color: #00BFFF;


}
.nav-left>h1{
  font-size: 25px;
    
}


/* About */

#about{
height: 90vh;
background: linear-gradient(to right, #3F51B5, #9C27B0);
display: grid;
grid-template-columns: 1fr 1fr;


}

.about-left {
 
  color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr;
  
}
.about-left>h2{
    color: white;
    width:600px;
    line-height: 2.2rem;


}
.about-left span{
color:#00BFFF;
}

.about-right {
   
  color: white;
  padding: 20px;
     justify-content: center;
    align-items: center;
    display: flex;
}

.about-right > img {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  animation: float 3s ease-in-out infinite; 
  box-shadow: 1px 5px 30px white;
  border: 10px solid white;

}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px); 
  }
  100% {
    transform: translateY(0px); 
  }
}

.about-right img:hover {
  transform: scale(1.05);
  box-shadow: 1px 5px 30px rgba(0, 198, 255, 0.5);
  transition: 0.5s;
  cursor: pointer;
  border: 10px solid #00BFFF;
}



.about-icons{
  margin: 0px;
  padding: 0px;
  display: inline;
  margin-top:-200px



}
.about-icons> i{
  color:#FFFFFF;
   text-decoration: none;

 
}
.about-icons i{
  text-decoration: none;
    color:#FFFFFF;;
    font-size: 28px;
     padding-right: 25px;
    }
.insta:hover>i{
  background: linear-gradient( #405DE6, #833AB4, #E1306C, #F77737, #FCAF45);
  -webkit-background-clip: text;     
  -webkit-text-fill-color: transparent; 
  font-weight: bold;

}
.fb:hover>i{
    background: linear-gradient(90deg, #1877F2, #0F5DC3);
  -webkit-background-clip: text;     
  -webkit-text-fill-color: transparent;
  font-weight: bold
}
.git:hover>i{
  color: black;
}
.linked:hover>i{
   background: linear-gradient(90deg, #0A66C2, #004182);
     -webkit-background-clip: text;     
  -webkit-text-fill-color: transparent;
  font-weight: bold
}
#resume{
  border: solid#00BFFF;
  width: 150px;
  height: 30px;
  margin-top: 25px;
  background-color:#00BFFF;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  color: black;
  text-decoration: none;
  
}
#resume{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#resume:hover{
   box-shadow: 1px 2px 30px #00BFFF;
   cursor: pointer;
   transition: .5s;
   transform: scale(1.05); 
}




/* Skills */

#skills{
height: 90vh;
  background: linear-gradient(135deg, #3A41C6, #512888);
color: white;
}
.skills-head{
  padding-top:5%;
}
.skills-head1{
  padding-top:5%;
}
.skills-head> h1{
  color: white;
}
.skills-head1> h1{
  color: white;
}
.skills-head> h3,h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-head1> h3,h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-head> h3{
  color:#00BFFF;
  margin-bottom: 15px;
}
.skills-head1> h3{
  color:#00BFFF;
  margin-bottom: 15px;
}
.skills-grid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: float 3s ease-in-out infinite; 
 

}
.skills-1{
display: flex;
align-items: center;
justify-content: center;
gap: 100px;
margin-left: 50px;



}
.html {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 20px;
   background: linear-gradient(135deg, #292d7c, #512888); 
  border-radius: 16px;
  padding: 1.5rem 2rem;
  color: #ECEFF1; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);

}
.html:hover {
 
  cursor: pointer;
}

.html > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 150px;
  overflow: hidden;
}

.html > p {
  width: 350px;
  margin-left: 40px;
  line-height: 1.5rem;
  overflow: hidden;
}

.html > h1 {
  align-items: center;
  justify-content: center;
  display: flex;
   overflow: hidden;
}

.html, .css, .py {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease-out;
 
}


.html.show, .css.show, .py.show {
  opacity: 1;
  transform: translateY(0);

}

.css{
   border: 1px solid transparent;
   background: linear-gradient( #512888, #292d7c, #512888); 
  border-radius: 16px;
  padding: 1.5rem 2rem;
  color: #ECEFF1; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  padding: 20px;
}

.css>img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 120px ;
}
.css>p{
  width: 350px;
   line-height: 1.5rem;
 
}
.py{
  border: 1px solid transparent;
  background: linear-gradient(135deg, #512888, #292d7c); 
  border-radius: 16px;
  padding: 1.5rem 2rem;
  color: #ECEFF1; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  padding: 20px;
  
}
.py>img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 120px;
 
}
.py>p{
  width: 350px;
  line-height: 1.5rem;
}
#edu{
height: 100vh;
background: linear-gradient(to right, #3F51B5, #9C27B0);

}
.edu-card{
 display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2fr 2fr;
animation: float 3s ease-in-out infinite; 
}

 .edu-left>h1{
  margin-top: 25px;
  
 }
 .edu-left>h3{
  margin-top: 10%;
  margin-bottom: 5%;
 }
 .exp-1>h5{
 color:rgb(176, 172, 172);
 }
 .exp-1>h4{
 color: #dc26fd;
 }
 .exp-1>h3{
  color:rgb(18, 173, 173);
 }

 .edu-left{

  width: 450px;
  margin-left: 25%;
  margin-top: 45px;
  background: linear-gradient(135deg, #292d7c, #512888); 
  border-radius: 16px;
  padding: 1.5rem 2rem;
  color: #ECEFF1; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  gap: 20px;
  padding: 20px;
 }
.edu-left>h1{
  margin-bottom: 25px;
}
 .edu-card {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease-out;
 
}
.exp-1{
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 2rem;
  margin-left: 35px;
 
}

.edu-card.show {
  opacity: 1;
  transform: translateY(0);

}


.edu-left {
  animation: slideInEdu 0.8s ease-out forwards;
}

 .edu-left:hover{
   transform: scale(1.05); 
  box-shadow: 1px 5px 30px rgb(30, 29, 29); 
  transition: 0.5s;
  cursor: pointer;
 }
  .edu-right:hover{
   transform: scale(1.05); 
  box-shadow: 1px 5px 30px rgb(30, 29, 29); 
  transition: 0.5s;
  cursor: pointer;
 }
  .edu-right{
 
  width: 450px;
  margin-left: 5%;
  margin-top: 35px;
  background: linear-gradient(135deg, #292d7c, #512888); 
  border-radius: 16px;
  padding: 1.5rem 2rem;
  color: #ECEFF1; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);

  gap: 20px;
  padding: 20px;
 }
 .edu-right>h1{
  margin-bottom: 25px;
}
.edu-right>h1{
  margin-top: 25px;
 }

 .edu-right>h1{
  margin-top: 25px;
 }



#contact {
margin:0px;
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
 background: linear-gradient(135deg, #3A41C6, #512888);
}

form{
  width: 200px;
}
form>h1{
  margin-left:-50px;
}
.sub {
 border: 1px solid transparent;
width: 45%;
padding: 50px;
box-shadow: 1px 1px 20px;
background-color: white;
color: black;
border-radius: 5%;

}
 
 
input {
  width: 300%;
  padding: 12px 16px;
  margin: 10px 0;
  font-size: 1rem;
  border: 2px solid #90CAF9;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  color: black;

}
form>h3{
  color: gray;
  width: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
}

input::placeholder {
  color: gray;
  font-style: italic;

}
.resume{

  width: 150px;
  height: 30px;
  margin-top: 25px;
  background: linear-gradient(135deg, #292d7c, #512888); 
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  color: black;
  text-decoration: none;
  border: none;
}
.resume{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  width: 300px;
  margin-left: 150px;
}

.resume:hover{
   box-shadow: 1px 2px 20px #512888;
   cursor: pointer;
   transition: .5s;
   transform: scale(1.05); 
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 2px 10px rgba(0,0,0,0.5) ;
  opacity: 95%;
  height: 10vh;
  color: white;
}




@media (max-width: 600px) {

  /* Navbar */
  nav {
      display: block;
      width: auto;
      height: 10vh;
      
  }
  .ham{
  display: block;
  align-items: left;
  justify-content: left;
  padding: 10px;
  border-radius: 10px;
  
}

.nav-left{
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-right {
  background-color: black;
  opacity: 95%;
  width: 300px;
  border-radius: 20px;
  display: none;
  align-items: center;
  
}

.nav-right> P{
  width: 100px;
}


  .nav-right ul {
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items:start;
  }

  .nav-right >ul>li>a{
    color: white;
  }
  /* About Section */
  #about {

    height: auto;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center;

  }

  .about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-left h2 {
    width: auto;
  }

  .about-icons {
    margin-top: 20px;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

  }

    .about-icons> a>i {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  .about-right img {
    height: 250px;
    width: 250px;

    align-items: center;
    justify-content: center;
  }


  /* Skills Section */
  #skills {
    height: auto;
    padding-bottom: 50px;
  }

  .skills-grid {
    padding-top: 20px;
  }

  .skills-1 {
    flex-direction: column;
    gap: 40px;
    margin-left: 0;
  }

  /* Education */
  #edu {
    height: auto;
    padding-bottom: 40px;
  }

  .edu-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .edu-left, .edu-right {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /* Contact */

  .sub {
    width: 90%;
    padding: 20px;
  }

  form {
    width: auto;
  }
  form>h3{
    width:70%;
    display: block;
  }
  input {
    width: auto;
  }

  .resume {
    width: 100%;
    margin-left: 0;
  }
}


@media (min-width: 300px) {

  nav h1 {
    font-size: 20px;
  }
  .nav-right> h3{
  width: auto;

}
  .nav-right a {
    font-size: 16px;
  }

  .about-left h2 {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  .about-right img {
    height: 200px;
    width: 200px;
  }

  .skills-head h1 {
    font-size: 1.4rem;
  }
  .top-main{
  position: absolute; 
  right: 0px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content:end;
  align-items: end;
}

}
